<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragment::head"></head>

<body>

<nav th:replace="fragment::nav"></nav>

<div class="container" style="padding-top: 20px;">
    <div class="row">
        <div class="col"></div>
        <div class="col-xs-12 col-md-9">
            <h3 class="text-center">Welcome! </h3>
            <h5 class="text-center">Please <a th:href="@{/addEmployee}" style="color: inherit">add a new Employee</a></h5>
            <img class="img-fluid" src="../../resources/static/img/building.jpg" th:src="@{/img/building.jpg}" />

        </div>
        <div class="col"></div>
    </div>
</div>

<footer th:replace="fragment::footer"></footer>

</body>
</html>