<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragment::head"></head>

<body>

<nav th:replace="fragment::nav"></nav>


<div class="container" style="padding-top: 20px;">
    <div class="row" style="padding-top: 30px;">
        <div class="col"></div>
        <div class="col-xs-12 col-md-6">

            <div class="alert alert-success" th:if="${added}">Added Successfully!</div>

            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="material-icons">search</i>
                </div>
                <input type="text" class="form-control" id="filterInput" placeholder="Search By Department..."/>
            </div>
            <table class="table table-dark table-hover">
                <thead>
                <tr>
                    <th scope="col">Location ID</th>
                    <th scope="col">Department Name</th>
                    <th scope="col">Details</th>
                </tr>
                </thead>
                <tbody id="names">
                <tr th:each="department : ${departments}" class="collection-item">
                    <td th:text="${department.locationId}"></td>
                    <td class="name" th:text="${department.name}"></td>
                    <td><a th:href="@{/detailDepartment?id=} + ${department.id}" class="btn btn-secondary">Details</a> </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="col"></div>
    </div>


</div>

<footer th:replace="fragment::footer"></footer>

<script>
    let filterInput = document.getElementById('filterInput');
    filterInput.addEventListener('keyup', filterNames);

    function filterNames() {
        let filterValue = document.getElementById('filterInput').value.toUpperCase();
        console.log(filterValue)

        let tbody = document.getElementById('names');
        let tr = tbody.querySelectorAll('tr.collection-item');

        for (let i = 0; i < tr.length; i++) {
            let a = tr[i].getElementsByClassName('name')[0];

            if (a.innerHTML.toUpperCase().indexOf(filterValue) > -1) {
                tr[i].style.display = '';
            } else {
                tr[i].style.display = 'none';
            }
        }

    }
</script>

</body>
</html>